<div class="cards-wrapper">
  <div class="cards-grid">
    @for(card of visibleCards; track $index) {
      <div class="card custom-card">
        <img
          [src]="card.image"
          class="card-img"
          [alt]="card.title + ' image'"
          loading="lazy"
        />

        <div class="card-body">
          <div>
            <h6 class="card-category text-secondary-color">{{ card.category }}</h6>

            <div class="card-title-wrapper">
              <h5 class="card-title text-black-color">{{ card.title }}</h5>
              <i class="bi bi-arrow-up-right icon text-black-color"></i>
            </div>

            <p class="card-description text-gray-color">
              {{ card.description }}
            </p>
          </div>

          <div class="card-author">
            <img
              [src]="card.avatar"
              [alt]="card.author"
              class="author-avatar"
              width="40"
              height="40"
              loading="lazy"
            />

            <div class="author-info">
              <h6 class="author-name text-black-color">{{ card.author }}</h6>
              <p class="author-date text-gray-color">{{ card.date }}</p>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  @if (showLoadMore) {
    <button class="load-more-btn bg-color text-secondary-color" (click)="loadAllCards()">
      <i class="bi bi-arrow-down icon"></i> Load more
    </button>
  }
</div>
