<header>
  <div class="d-flex flex-column align-items-center justify-content-center text-center py-5 text-white header-bg bg-color">
    <h4 class="text-secondary-color border-white h3-title rounded-pill fontFamily">Our blog</h4>
    <h1 class="text-primary-color h1-title fontFamily">Resources and insights</h1>
    <h2 class="text-secondary-color h2-title fontFamily">
      The latest industry news, interviews, technologies, and resources.
    </h2>

    <div class="search-input">
      <input type="text" class="form-control ps-5" placeholder="Search..." />
      <i class="bi bi-search search-icon text-primary-color"></i>
    </div>
  </div>
</header>

<section class="container">
  <app-card />
</section>
